body {
  font-family: "Poppins", "OpenSans", "Raleway", sans-serif;
  font-size: 20px;
  color: #212121;
  font-weight: 400;
  position: absolute;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container1 {
  width: 1669px;
  height: 526px;
  margin-top: 50px;
}
.author{
  background-color: #f8f8f8;
  margin-top: 50px;
  width: 100%;
  height: 626px;
}
.user{
  background-color: #f8f8f8;
  margin-top: 50px;
  width: 100%;
  height: 626px;
}
.sms{
  background-color: #f8f8f8;
  margin-top: 50px;
  width: 100%;
  height: 626px;
}
.container2{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 100%;
  height: 626px;
}
.article1{
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 100%;
  height: 626px;
}
.article2{
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 100%;
  height: 626px;
}
.article3{
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 100%;
  height: 626px;
}
.map{
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 100%;
  height: 626px;
}