.header {
  width: 1520px;
  height: 57px;
  display: flex;
  justify-content: space-between;
}
.hr {
  height: 47px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  margin-left: 200px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 13px;
  color: #646464;
}
a:link,
a:visited {
  color: #646464;
  text-decoration: none;
}
a:hover,
a:active {
  color: #646464;
  text-decoration: none;
}
.logo {
  margin-top: 6px;
  display: flex;
  margin-left: 200px;
}
.signup button1 {
}
.button1 {
  margin-top: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  width: 97px;
  height: 32px;
  background: #fa8f2d;
  border-radius: 5px 0px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  border: none;
  text-decoration: none;
}

.button1:hover {
  background-color: #f0f82d;
  transition: all 0.2s;
  box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}

.signin button2 {
}
.button2 {
  margin-top: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  width: 97px;
  height: 32px;
  background: #fa8f2d;
  border-radius: 5px 0px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  border: none;
  text-decoration: none;
  outline: none;
}

.button2:hover {
  background-color: #f0f82d;
  transition: all 0.2s;
  box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
