.hr4{
    display: block;
    align-items: center;
    width: 600px;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 20px;
    color: #646464;
    }
  .li4{
    display: block;
    margin-bottom: 35px;
  }
  form{
    display: block;
    padding: 50px;
    width: 600px;
    height: 300px;
    color: white;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  input[type=text]{
    border: none;
    line-height: 50px;
    text-align: start;
    width: 72px;
    height: 48.23px;
    font-family: "Raleway";
    font-weight: 500;
    font-size: 18px;
    color: #646464;
    width: 272px;
    height: 50px;
    background: #eeeeee;
    border-radius: 5px 0px;
  }
  input[type=email]{
    border: none;
    line-height: 50px;
    text-align: start;
    width: 72px;
    height: 48.23px;
    font-family: "Raleway";
    font-weight: 500;
    font-size: 18px;
    color: #646464;
    width: 272px;
    height: 50px;
    background: #eeeeee;
    border-radius: 5px 0px;
  }
  textarea{
    border: none;
    line-height: 50px;
    text-align: start;
    width: 72px;
    height: 48.23px;
    font-family: "Raleway";
    font-weight: 500;
    font-size: 18px;
    color: #646464;
    width: 472px;
    height: 150px;
    background: #eeeeee;
    border-radius: 5px 0px;
  }
  .btn{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 152px;
      height: 52px;
      background: #37806b;
      border-radius: 5px 0px;
      font-family: "Open Sans";
      font-weight: 700;
      font-size: 15px;
      margin-left: auto;
      margin-right: auto;
      color: #ffffff;
      border: none;
      text-decoration: none;
    }
    .btn:hover{
      transition: all 0.2s;
      box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 15%);
    }
    .rama{
      display: block;
      box-sizing: border-box;
      width: 617px;
      height: 526px;
      border: 2px solid #b0855b;
      border-radius: 140px 0px;
      color: #b0855b;
      z-index: -1;
      align-items: center;
      margin-top: -455px;
      }