.create1{
    text-align: center;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 72px;
    color: #212121;
  }
  .li2{
    display: block;
    margin-bottom: 35px;
  }
  .buttonsubmit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 152px;
    height: 52px;
    background: #FA8F2D;
    border-radius: 10px 0px;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    border: none;
    text-decoration: none;
  }
  .buttonsubmit:hover{
    background-color: #F0F82D;
    transition: all 0.2s;
    box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 15%);
  }
  .hr2{
  display: block;
  align-items: center;
  width: 600px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 20px;
  color: #646464;
  }
  form{
    display: block;
    padding: 50px;
    width: 600px;
    height: 300px;
    color: white;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  input[type=text]{
    border: none;
    line-height: 50px;
    text-align: start;
    width: 72px;
    height: 48.23px;
    font-family: "Raleway";
    font-weight: 500;
    font-size: 18px;
    color: #646464;
    width: 272px;
    height: 50px;
    background: #eeeeee;
    border-radius: 8px 0px;
  }
  input[type=email]{
    border: none;
    line-height: 50px;
    text-align: start;
    width: 72px;
    height: 48.23px;
    font-family: "Raleway";
    font-weight: 500;
    font-size: 18px;
    color: #646464;
    width: 272px;
    height: 50px;
    background: #eeeeee;
    border-radius: 8px 0px;
  }
  input[type=password]{
    border: none;
    line-height: 50px;
    text-align: start;
    width: 72px;
    height: 48.23px;
    font-family: "Raleway";
    font-weight: 500;
    font-size: 18px;
    color: #646464;
    width: 272px;
    height: 50px;
    background: #eeeeee;
    border-radius: 8px 0px;
  }
  
  .rama1{
  display: block;
  box-sizing: border-box;
  width: 587px;
  height: 456px;
  border: 2px solid #7F24A6;
  border-radius: 50px 0px;
  color: #7F24A6;
  z-index: -1;
  margin-top: -475px;
  }
  